<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>login.RegistrationServlet</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>JobSearchServlet</servlet-name>
        <servlet-class>login.JobSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobApplyController</servlet-name>
        <servlet-class>login.JobApplyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobsAppliedServlet</servlet-name>
        <servlet-class>login.JobsAppliedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>login.RegisterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
        <!--        <multipart-config>
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>-->
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Registration.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>JobSearchServlet</servlet-name>
        <url-pattern>/JobSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobApplyController</servlet-name>
        <url-pattern>/JobApplyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobsAppliedServlet</servlet-name>
        <url-pattern>/JobsAppliedServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
