/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 13, 2016, 8:28:47 PM
    Author     : S525020
*/

.req{
    color: red;
}

.tab_content{
    text-align: center;
    }

 .reg_txtbox{
    //border-radius: 0.2em;
        height: 1.4em; 
        
   //border: 2px solid black;
}   
    
    
.title{
    display:inline;
    margin-left: 6em;
    font-family: calibri;
    font-size: 3em;
    font-weight: bolder;

}
.logo{
    margin-left: 18em;
}
/*#title{
    text-align:center;
    font-style : calibri;
}*/
body{
    background-color: lavender;
}

/*------Menu-------*/
ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    //    position: fixed;
    background-color: #103F67;
}

li {
    float: left;
    border-right:1px solid #bbb;
}



li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: calibri;
    font-weight: normal;
    font-size: 1.1em;
    
}

li a:hover:not(.active) {
    background-color: limegreen;
}

.active {
    background-color: limegreen;
}



 .search{
   
            border-radius: 1em;
            font-size: 1em;
            padding: 3px ;
            
        }
   
/*--------search button----*/
#overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    background: #999;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 100;
}
#popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background: lavender;
    width: 600px;
    height: 600px;
    margin-left: -300px; /*Half the value of width to center div*/
    margin-top: -300px; /*Half the value of height to center div*/
    z-index: 200;
}

#popupclose {
    border-radius: 0.4em;
    height: 2em; 
    width: 6em; 
    font-size: 1em;
    
}

.popClose{
    border-radius: 0.4em;
     color: white;
    height: 2em; 
    width: 8em; 
    font-size: 1em;
    margin-top: 6em;
    margin-left: 14em;
    background-color: #f44336;
}

.popupcontent {
    padding: 10px;
    font-family: verdana;
}

#Sbutton {
    border-radius: 0.5em;
    cursor: pointer;
    margin-left: 78em;
    padding: 4px ;
      color: white;
     background-color: tomato;
}

.logo{
    margin-left: 4em;
}

.popupcontent_text{
    font-family: Verdana;
    font-size: 1.6em;
}
/*--------search button-------*/


/*----------------Acordion css-----------*/
button.accordion {
    background-color: lightblue;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
font-family: verdana;
}

button.accordion.active, button.accordion:hover {
    background-color: LightGreen ;
}

button.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796";
}

div.panel {
    padding: 0 18px;
    background-color: FloralWhite;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
font-family: verdana;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;  
}


/*---------- breadcrumb menus----------*/

/*custom font*/



.breadcrum_alignment {
    
	text-align: center;
       font-size: 1.1em;
	font-family: calibri;
}

.breadcrumb {
	/*centering*/
	display: inline-block;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
	overflow: hidden;
	border-radius: 5px;
	/*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
	counter-reset: flag; 
}

.breadcrumb a {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-size: 20px;
	line-height: 36px;
	color: white;
	/*need more margin on the left of links to accomodate the numbers*/
	padding: 0 10px 0 60px;
	background: #666;
	position: relative;
}
/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb a:first-child {
	padding-left: 46px;
	border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}
.breadcrumb a:first-child:before {
	left: 14px;
}
.breadcrumb a:last-child {
	border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
	padding-right: 40px;
}

/*hover/active styles*/


/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb a:after {
	content: '';
	position: absolute;
	top: 0; 
	right: -18px; /*half of square's length*/
	/*same dimension as the line-height of .breadcrumb a */
	width: 36px; 
	height: 36px;
	/*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
	length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
	if diagonal required = 1; length = 1/1.414 = 0.707*/
	transform: scale(0.707) rotate(45deg);
	/*we need to prevent the arrows from getting buried under the next link*/
	z-index: 1;
	/*background same as links but the gradient will be rotated to compensate with the transform applied*/
	
	/*stylish arrow design using box shadow*/
	box-shadow: 
		2px -2px 0 2px rgba(0, 0, 0, 0.4), 
		3px -3px 0 2px rgba(255, 255, 255, 0.1);
	/*
		5px - for rounded arrows and 
		50px - to prevent hover glitches on the border created using shadows*/
	border-radius: 0 5px 0 50px;
        
}
/*we dont need an arrow after the last link*/
.breadcrumb a:last-child:after {
	content: none;
}
/*we will use the :before element to show numbers*/
.breadcrumb a:before {
	content: counter(flag);
	counter-increment: flag;
	/*some styles now*/
	border-radius: 100%;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin: 8px 0;
	position: absolute;
	top: 0;
	left: 30px;
	font-weight: bold;
}


.flat a, .flat a:after {
	background: white;
	color: black;
	transition: all 0.5s;
}
.flat a:before {
	background: white;
	box-shadow: 0 0 0 1px #ccc;
}
.flat a:hover, .flat a.active, 
.flat a:hover:after, .flat a.active:after{
	background: lightgreen;
}

/*---------- breadcrumb menus----------*/

/*------- disabling breadcrumb menu items ------*/
.not-active {
 pointer-events: none;
 cursor: default;
}

/*---------- buttons in consultancies ----------*/

   .bigBtn_a{
       margin-left: 8em;
            width:10em;
            height: 10em;
            border-radius: 1em;
            font-family: verdana;
            font-size: 1.2em;
           background-color: aquamarine;
           font-weight: bold;
        }
    
     .bigBtn_b{
         margin-left: -2em;
         width:10em;
            height: 10em;
            border-radius: 1em;
            font-family: verdana;
            font-size: 1.2em;
         background-color: bisque;
         font-weight: bold;
     }
     .bigBtn_c{
         width:10em;
            height: 10em;
            border-radius: 1em;
            font-family: verdana;
            font-size: 1.2em;
         background-color: khaki;
         font-weight: bold;
     }

     /*-------- online counseling-----*/
     
     .notavail{
         font-family: Verdana;
         font-size: 2em;
         color: red;
        margin-left: 10em;
         
     }
     
     
     /*-------tool tip for center button---*/
     
     .tooltip {
    position: relative;
    display: inline-block;

}

.tooltip .tooltiptext {
    
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 105%;
    left: 20%;
    margin-left: -60px;
 opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
opacity: 1;
}



/*-------tool tip for left button---*/

.tooltip1 {
    position: relative;
    display: inline-block;
    
}

.tooltip1 .tooltiptext1 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -1px;
    right: 60%;
    // bottom: 50%;
   top:40%;
opacity: 0;
    transition: opacity 1s;
}

.tooltip1 .tooltiptext1::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}
.tooltip1:hover .tooltiptext1 {
    visibility: visible;
opacity: 1;
}


/*-------tool tip for right button---*/

.tooltip2 {
    position: relative;
    display: inline-block;
   
}

.tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
   // bottom: 50%;
   top:40%;
opacity: 0;
    transition: opacity 1s;
}

.tooltip2 .tooltiptext2::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
.tooltip2:hover .tooltiptext2 {
    visibility: visible;
opacity:1;
}


#backbutton {
    border-radius: 0.5em;
    cursor: pointer;
    margin-left: 1em;
    padding: 4px ;
      color: white;
     background-color: tomato;
     width:6em;
     height:2.5em;
     font:2em;
}


/*------ consultancies tables--------*/
table {
    width:90%;
}
table, th, td {
    border: 1px black; //solid
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
}
table.table1 tr:nth-child(even) {
    background-color: #eee;
}
table.table1 tr:nth-child(odd) {
   background-color:#fff;
}
table.table1 th	{
    background-color: dimgray;
    color: white;
    font-family: calibri;
    font-weight: normal;
    font-size: 1.01em;
}

.table1{
    margin-left: 4em;
}



/*---------payment method segments--------*/
.left_segment1 {
    
    width: 640px;
    height: 342px;
    padding: 10px;
    border: 1px solid gray;
    margin: 0;
    float: left;
        background-color: beige;
        font-family: calibri;
        font-size: 1em;
        
}
.right_segment1 {
    
    width: 640px;
    height: 342px;
    padding: 10px;
    border: 1px solid gray;
    margin: 0;
    float: right;
    background-color: beige;
    font-family: calibri;
     font-size: 1em;
    
}


/*--------Pay button------*/
#paybutton{
     border-radius: 0.5em;
    cursor: pointer;
  
    padding: 4px ;
      color: white;
     background-color: limegreen;
     width: 8em;
        
}

/*----join button-------*/
.bigBtn{
     border-radius: 0.2em;
  height: 1.4em; 
    width: 4em; 
    font-size: 1em;
}

/*------ logout confrmation------*/

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}


.cnf_btn{
    height: 2em;
    border-radius: 1em;
    width: 4em;
    background-color: red;
    color: white;
    text-align: center;
}
